/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */


body {
    text-align: center;
    background-image: url('file:///Users/jacksonfranks/Desktop/bbd65d4efd14552bc56ce37e1fa705f6.png');
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    
    
}

#gameOn {
    display: none;
    background-image: url('file:///Users/jacksonfranks/Desktop/a200d28aace7b76d7b7e6b9d2223e348.jpg');
    background-size: 380px 750px;
    width: 385px;
    
}



#game {
    height: 750px;
    width: 380px;
    border: black;
    font-family: 'Press Start 2P', cursive;

}

#retrybutton {
    text-align: center;
    display: none
}

input {
    font-family: 'Press Start 2P', cursive;
}

#timer {
    display: none;
}

#score {
    display: none;
    position: absolute;
    left: 1%;
    text-decoration: underline;
}

#scoreone {
    display: none;
    
}

#scoretwo {
    display: none;
    
}

#scorethree {
    display: none;
    
    
}

h5 {
    display: none;
    position: relative;
}

h1 {
    text-align: center;
    text-decoration: underline;
}
