


body {
    text-align: center;
    background-image: url('file:///Users/jacksonfranks/Desktop/background_jungle_master2_2070.png');
}

#gameOn {
    display: none;
    background-image: url('file:///Users/jacksonfranks/Desktop/8aCQkW.jpg');
    width: 385px;
    
}



#game {
    height: 750px;
    width: 380px;
    border: black;
    

}

#retrybutton {
    text-align: center;
}